.header {
  background: orange;
  color:black;
  /*background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 100, 0.6643032212885154) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
  background-color: gray;
  height: 25rem;
}

.hf {
   background:gray;
   color: white;
}

.logo {
  height: 30px;
  width: 10;
}

.ft {
  position: relative;
  top: 250px;
  background: white;
  text-align: left;
  display: flex;
  height: 50px;
  width: 600px;
}

.fromt {
  box-sizing: border-box;
}

.Login {
  /*background: #59c173; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: gold;
  height: 20rem;
  box-sizing: border-box;
}
 .LoginBox {
  position: relative;
 /* background: #59c173; /* fallback for old browsers */
 /* background: -webkit-linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  top: 30%;
  left: 30%;
  height: 160%;
  width: 40%;
  box-sizing: border-box;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.LoginBox:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

.headi {
  color: black;
  font-size: 120%
}

.BookT {
  position: relative;
  background: lightgreen;
  /*background: -webkit-linear-gradient(to right, #0083b0, #00b4db);
  background: linear-gradient(to right, #0083b0, #00b4db);*/
  top: 5rem;
  left: 10rem;
  height: 25rem;
  width: 30rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 2%;
}

.BookT:hover {
 /* box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

.book {
 /* background: #59c173; /* fallback for old browsers */
 /* background: -webkit-linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(
    to right,
    #5d26c1,
    #a17fe0,
    #59c173
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 25rem;
  box-sizing: border-box;
  border-radius: 2%;
}
.touch {
  /*background: #5cb85c;*/
}

.UC {
  position: absolute;
  left: 45rem;
  top: 10rem;
  height: 13rem;
  width: 30rem;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
}

.mybook{
  position: relative;
  left: -1rem;
}

.UC:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

.bran{
  position: absolute;
  top: 7rem;
  width: 15%;
}

.book-btn{
  position: relative;
  left:22rem;
}

.lead{
  font-size: 250%;
}
.noos{
  width: 15%;
  size:15%;
}